.annotate-container{

  position: relative;

  &> [id^=baseLayer]{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: grey;
  }

  &> [id^=drawingLayer]{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: transparent;
  }
}


.btn-group-annotate {
    position: relative;
    z-index: 1000;
    background: rgba(52,58,64,.8);
    backdrop-filter: blur(3px) brightness(50%) saturate(50%);
    border-radius: 52px;
    padding: 6px;
    margin: 6px;
    margin-right: 13rem;
  
  input {
    display: none
  }

  .tool-button {
    width: 30px;
    height: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: 0 0;
    cursor: pointer;
    outline: none;
    transition: all 32ms ease-out;
    margin-left: 0.5em;

    img {
      width: 25px;
      height: 25px;
    }
  }
}

.tool-button.active {
  background: #949698;
}
